body{
	font-family: 'Source code pro',Calibri,serif;
	/*background-color:#1F2A36;*/
	background-color:rgb(78,75,95);
}
nav {
	display:flex;
	justify-content: space-between;
	height: 90px;
	color:#FFFFFF;
	

}

.container {
  display: flex;
  flex-direction: row;
  padding: 30px 70px;
  
}
.flex-container {
	text-indent: 40px;
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 70px;

}

hr{
	margin-left: 70px;
	margin-right: 70px;
	color: gray;
}

p{
	text-align: center;
	color:#FFFFFF;
	margin-top: 150px;
	font-size: 50px;
}



.aicha {
	text-align: center;
	color:#FFFFFF;
	margin-left: 120px;
	padding: 0px;
	
	display: inline-block;

	
}



i{
	color: #3F6;
}

button {
    text-decoration:none;
    border:3px solid #3F6;
    margin-left: 68%;
    margin-top: 70px;
    margin-left: 45%;
    color:#3F6;
    width:180px;
    height:40px;
    background:none;
    border-radius:25px;
}

.vertical-line {
    border:1px solid #999;
    margin-left: 70px;
    display:inline-block;
    height:60px;
   
}

